.menu {
  background: #edd49e;
  padding: 5px 0px;
  font-family: "Assistant", sans-serif;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 300;
  width: 100%;
}

.logo {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.logo_nome {
  position: relative;
  top: -3px;
  display: none;
}

.menu_nav {
  background: #edd49e;
  position: absolute;
  top: 56px;
  width: 100%;
  padding: 30px 20px;
  right: -1400px;
}

.menu_nav ul li + li {
  margin-top: 10px;
}

.menu_nav ul li a {
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 400;
  color: #533100;
}

.icone_menu_mobile {
  display: block;
  width: 36px;
  height: 36px;
  color: #533100;
  border-top: 4px solid currentColor;
  margin-right: 20px;
  position: relative;
  top: 12px;
  cursor: pointer;
}

.icone_menu_mobile::before,
.icone_menu_mobile::after {
  content: "";
  display: block;
  height: 4px;
  margin-top: 6px;
  background: currentColor;
  position: relative;
  transition: transform 0.3s ease;
}

[data-menu-mobile="icone"].transformarIcone {
  border-top-color: transparent;
}

[data-menu-mobile="icone"].transformarIcone::before {
  margin-top: 0px;
  top: 6px;
  transform: rotate(45deg);
}

[data-menu-mobile="icone"].transformarIcone::after {
  margin-top: 0px;
  top: 2px;
  transform: rotate(135deg);
}

@keyframes mostrar {
  from {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

[data-menu-mobile="lista"].mostrarItensMenu {
  right: 0px;
  animation: mostrar 0.3s forwards;
}

/*Responsividade*/

@media (min-width: 430px) {
  .menu_nav {
    width: 300px;
  }
  .logo {
    padding-left: 40px;
  }
  .icone_menu_mobile {
    margin-right: 40px;
  }
}

@media (min-width: 680px) {
  .menu {
    align-items: center;
  }
  .icone_menu_mobile {
    display: none;
  }
  .menu_nav {
    background: none;
    position: static;
    padding: 0px;
    width: auto;
    padding-right: 40px;
  }
  .menu_nav ul {
    display: flex;
  }
  .menu_nav ul li + li {
    margin-top: 0px;
    margin-left: 20px;
  }
  .menu_nav ul li a {
    padding: 0px 5px;
    font-size: 16px;
    font-weight: 600;
  }
}

@media (min-width: 768px) {
  @keyframes mostrar_nome_logo {
    from {
      opacity: 0;
      transform: translate3d(-30px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  .logo_nome {
    display: block;
    animation: mostrar_nome_logo 0.3s forwards;
  }
}

@media (min-width: 950px) {
  .logo {
    padding-left: 80px;
  }
  .menu_nav {
    padding-right: 80px;
  }
  .menu_nav ul li a {
    font-size: 20px;
  }
}
