.item_servico {
  grid-column: 1 / -1;
  background: gray;
}

#organico,
#receitas,
#cursos {
  max-width: 430px;
  height: 538px;
}

#organico {
  background: url("../../img/servicos/organico_1.png") center center;
  background-size: cover;
}
