.servicos ul {
  grid-column: 1 / -1;
}

.item_servico {
  position: relative;
}

#organico {
  background: url("../../img/servicos/organico_1.png") center center;
  background-size: cover;
}

#receitas {
  background: url("../../img/servicos/receitas_1.png") center center;
  background-size: cover;
}

#cursos {
  background: url("../../img/servicos/cursos_1.png") center center;
  background-size: cover;
}

.item_servico h2 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: center;
  padding: 215px 0;
}

.descricao {
  background: #533100;
  position: absolute;
  top: 0;
  height: 478px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.4s ease;
}

.descricao p {
  color: #fffaf0;
  font-family: "Assistant", sans-serif;
  font-size: 20px;
  font-weight: 600;
  max-width: 280px;
  text-align: center;
  line-height: 1.6;
}

.descricao p:first-child {
  margin-bottom: 20px;
}

[data-descricao="texto_receitas"] p:first-child {
  margin-bottom: 0px;
}

.icone_descricao {
  display: block;
  width: 20px;
  height: 16px;
  color: #ffffff;
  border-top: 2px solid currentColor;
  position: absolute;
  z-index: 200;
  top: 22px;
  left: 20px;
  cursor: pointer;
}

.icone_descricao::before {
  content: "";
  display: block;
  margin-top: 6px;
  height: 2px;
  width: 70%;
  background: currentColor;
}

.icone_descricao::after {
  content: "";
  display: block;
  margin-top: 6px;
  height: 2px;
  width: 50%;
  background: currentColor;
  position: relative;
  transition: transform 0.3s ease;
}

[data-descricao="icone"].mudarIcone {
  border-top-color: transparent;
}

[data-descricao="icone"].mudarIcone::before {
  width: 100%;
  transform: rotate(45deg);
}

[data-descricao="icone"].mudarIcone::after {
  width: 100%;
  top: -8px;
  transform: rotate(135deg);
}

[data-descricao="texto"].mostrarTexto {
  opacity: 1;
}

/*Slide*/
.servicos ul {
  display: flex;
}

.item_servico {
  flex: 1 0 363px;
}
