.unidades {
  padding: 40px 0;
}

.unidades h1,
.itens_unidade {
  grid-column: 1 / -1;
}

.unidades h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #533100;
  text-align: center;
  margin-bottom: 60px;
}

.itens_unidade {
  justify-self: center;
  max-width: 363px;
}

.item_unidade + .item_unidade {
  margin-top: 60px;
}

.cx_img {
  margin-bottom: 20px;
}

.infos_unidade h2 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #6f8c04;
  margin-bottom: 20px;
  text-align: center;
}

.topicos_unidade {
  display: flex;
  flex-direction: column;
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #533100;
  padding: 0 20px;
  margin-bottom: 40px;
}

.topicos_unidade span::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background: #6f8c04;
  border-radius: 50%;
}

.topicos_unidade span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topicos_unidade span + span {
  margin-top: 10px;
}

.infos_unidade a {
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fffaf0;
  background: #6f8c04;
  width: 150px;
  border-radius: 8px;
  padding: 13px 0;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

@media (min-width: 380px) {
  .itens_unidade {
    grid-column: 2;
  }

  .topicos_unidade {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  .itens_unidade {
    max-width: 100%;
  }

  .item_unidade {
    display: flex;
  }

  .infos_unidade h2 {
    text-align: left;
    margin-bottom: 15px;
  }

  .topicos_unidade {
    margin-bottom: 15px;
  }

  .infos_unidade a {
    margin: 0;
  }

  .cx_img {
    margin-right: 20px;
    margin-bottom: 0px;
  }

  .infos_unidade {
    width: 280px;
  }
}

@media (min-width: 1125px) {
  .itens_unidade {
    max-width: 100%;
    display: flex;
  }

  .item_unidade {
    flex-direction: column;
    flex: 1;
    margin: 0 15px;
  }

  .item_unidade + .item_unidade {
    margin-top: 0px;
  }

  .item_unidade:first-child {
    margin-left: 0px;
  }

  .item_unidade:last-child {
    margin-right: 0px;
  }

  .cx_img {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .infos_unidade {
    width: 100%;
  }

  .infos_unidade h2 {
    text-align: center;
  }

  .infos_unidade a {
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .item_unidade {
    margin: 0 30px;
  }
}
